{#
/**
 * @file
 * Dark Mode Switch Block Template.
 */
#}
<div class="dark-mode-switch-wrapper custom-control custom-switch">
  <input data-dark-mode-switch id="dark-mode-switch" type="checkbox" class="custom-control-input">
  <label class="custom-control-label" for="dark-mode-switch">{{ 'Dark Mode'|t }}</label>
</div>
